.main_page {
    min-height: 100vh;
    display: flex;
    flex: 1;
    flex-direction: column;
}
.flex-row {
    display: flex;
    flex: 1;
    flex-direction: row;
}
.underline {
    border-bottom: 1px solid grey;
    padding-bottom: 10px;
    margin-bottom: 0;
}
button {
    max-width: 200px;
    margin-top: 10px;
    padding: 10px;
    font-size: medium;
    background-color: white;
    color: black;
    border: 2px solid black;
    border-radius: 0;
}
button:hover {
    color: white;
    background-color: black;
    transition-duration: 0.2s;
}