.articles {
    width: 100%;
    min-width: fit-content;
    text-align: left;
    padding: 30px 50px 0px 50px;
}
.article_block {
    height: auto;
    width: 90%;
    min-width: fit-content;  /* 设置段落的最小宽度 */
    padding: 10px 10px 0 10px;  /* 填充内边距 */
    border-bottom: 2px solid black;
    margin: 0px 0px 0px 0px;  /* 填充外边距 */
}
.article_block:hover {
    background-color: rgba(0,0,0,0.1);
}
.title {
    margin: 10px 0 3px 0;
}
.author {
    font: small;
    color: grey;
}

.article_list {
    height: 55vh;
    margin-top: 5px;
    padding-right: 50px;
    overflow-x: hidden;
    overflow-y: auto;
}
