.Cloth_head{
    height: auto;
    width: 90%;
    margin: 0 auto;
    border-bottom: 2px solid  rgba(0,0,0,0.1);
    padding: 20px 0;
}
.Cloth_body{
    height: auto;
    width: 70%;
    margin: 30px auto;
    text-align: center;
    padding: 30px 0;
    border-bottom: 2px solid black;
}
.Cloth_season{
    line-height: 70px;
    font-size: 20px;	
    background-color: white; 
    color: black; 
    border: 3px solid #008CBA;
    border-radius: 6px;
}
.Cloth_climate{
    line-height: 70px;
    font-size: 20px;	
    background-color: white; 
    color: black; 
    border: 3px solid green;
    border-radius: 6px;
}
.Cloth_situation{
    line-height: 70px;
    font-size: 20px;	
    background-color: white; 
    color: black; 
    border: 3px solid red;
    border-radius: 6px;
}
.Cloth_band{
    line-height: 70px;
    font-size: 20px;	
    background-color: white; 
    color: black; 
    border: 3px solid purple;
    border-radius: 6px;
}
.Cloth_texture{
    line-height: 70px;
    font-size: 20px;	
    background-color: white; 
    color: black; 
    border: 3px solid yellowgreen;
    border-radius: 6px;
}


.cloth_img{
    width:500px;
    height:500px
}