.outfits {
    text-align: left;
    padding: 30px 50px 0px 50px;
}
.outfit_card {
    height: 80px;
    width: 350px;
    padding: 10px;
    padding-bottom: 10px;
    border-bottom: 2px solid black;
    margin: 0px 0px 0px 0px;
}
.outfit_card:hover {
    background-color: rgba(0,0,0,0.1);
    transition-duration: 0.2s;
}
.product_card {
    width: 60px;
    height: 80px;
    /* border: 1px solid gray; */
    /* border-radius: 4pt; */
    margin: 5px;
    float: left;
    text-align: center;
}
.outfit_content {
    line-height: 30px;
    padding: 0;
    margin: 0;
    font-size: small;}
.outfit_img {
    height: 40px;
    width: 40px;
    border: 1px solid black;
}
.outfit_list {
    height: 55vh;
    margin-top: 5px;
    padding-right: 50px;
    overflow-x: hidden;
    overflow-y: auto;
}