.Article_head{
    height: auto;
    border-bottom: 2px solid black;
    margin: 0px 0px 0px 0px;
}
.Article_head:hover {
    background-color: rgba(0,0,0,0.1);
}
.Article_title{
    color: black;
}
.Article_username{
    font: italic bold arial;
    color: black;
}
.Article_time{
    color: grey;
}

.Article_body{
    height: auto;
    border-bottom: 2px solid black;
    margin: 0px 0px 0px 0px;
}

/* .Comment_like{
    background-color:dodgerblue;
    color:white;
    width: 300px;
    height: 47px;
    border:0;
    font-size: 20px;			
    border-radius: 1px;
    margin: 10px 10px 10px 10px;
} */
.Comment_username{
    color: rgba(0,0,0,0.4);
}
.Comment_like {
    font-size: 20px;	
    background-color: white;
    color: black; 
    border: 3px solid #008CBA;
    border-radius: 6px;
}
.Comment_like:hover {
    background-color: #008CBA;
    color: white;
}