.Article_head{
    height: auto;
    width: 90%;
    margin: 0 auto;
    border-bottom: 2px solid  rgba(0,0,0,0.1);
}
.Article_time{
    color: grey;
}
.Article_body{
    height: auto;
    width: 70%;
    text-align: left;
    border-bottom: 2px solid black;
    margin: 0 auto;
    padding: 0 50px 0 50px;
}

.addComment_block{
    width: 30%;
    margin: 0 auto;
}
/* .addComment_block:hover{
    background-color: grey;
} */
.addComment_enter{
    margin: 0 0 2px 20px;
}
.Comment_block{
    width: 40%;
    text-align: left;
    min-width: fit-content;
    padding: 0px 10px 2px 10px;
    border-bottom: 2px solid black;
    margin: 30px auto;
}
.Comment_username{
    color: rgba(0,0,0,0.5);
}